<div class="container">
<h1> Welcome to your dashboard! </h1>
<div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
</div>
<%= render 'accounts/dashboard_compact' %>
<%= render 'transactions/dashboard_new' %>
<%= render 'transactions/dashboard_list' %>

<%= link_to 'New Account', new_account_path %>
<%= link_to 'Edit My User Account', edit_user_path(@uid) %>

</div>
