<%= form_for(friend) do |f| %>
    <% if friend.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(friend.errors.count, "error") %> prohibited this account from being saved:</h2>

          <ul>
            <% friend.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="fields">
      <p>
        <%= f.label :friend_of %>
        <%= f.text_field @current_user.id %>
      </p>
      <p>
        <%= f.label :friend_id %>
        <%= f.text_field :friend_id %>
      </p>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
