<h1>Search For User</h1>


<%= form_tag do %>

    <%= label_tag(:param, "Search for:") %>
    <%= text_field_tag(:param) %>
    <%= radio_button_tag(:type, "email") %>
    <%= label_tag(:email, "Search by email") %>
    <%= radio_button_tag(:age, "name") %>
    <%= label_tag(:name, "Search by name") %>
    <%= submit_tag("Search") %>
<% end %>
<br><br>
<table>
  <thead>
  <td>Name</td>
  <td>Email</td>
  <td>ID</td>
  </thead>
<tbody>
  <% if @users != nil
    @users.each do |user| %>
      <tr>
        <td> <%= user.name %> </td>
        <td> <%= user.email%> </td>
        <td>  <%= user.id%> </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>
<br><br>
<%= link_to 'Back', friendship_index_path%>

