<h1> Welcome to your admin dashboard! </h1>


<table class="table">
    <tr>
        <th>
            Transaction Id
        </th>
        <th>
            Amount
        </th>
        <th>
            Status
        </th>
    </tr>
<% @pendingXacts.each do |xact|  %>
    <tr>
        <td>
            <%= xact.id %>
        </td>
        <td>
            <%= xact.amount %>
        </td>
        <td>
            <%= xact.status %>
        </td>
        <td>
            <%= link_to "Approve", transaction_request_accept_path(xact), method: :POST  %>
        </td>
        <td>
            <%= link_to "Reject", "#"  %>
        </td>
    </tr>
<% end  %>
</table>
