<h1> Welcome to your admin dashboard! </h1>


<table class="table">
    <tr>
        <th>
            Transaction Id
        </th>
        <th>
            Amount
        </th>
        <th>
            Status
        </th>
        <th>
            Source
        </th>
        <th>
            Destination
        </th>
    </tr>
<% @pendingXacts.each do |xact|  %>
    <tr>
        <td>
            <%= xact.id %>
        </td>
        <td>
            <%= xact.amount %>
        </td>
        <td>
            <%= xact.status %>
        </td>
        <td>
            <%= link_to xact.source_account_id.to_s, admin_account_path(Account.find(xact.source_account_id)) %>
        </td>
        <td>
            <%= link_to xact.dest_account_id.to_s, admin_account_path(Account.find(xact.dest_account_id)) %>
        </td>
        <td>
            <%= link_to "Approve", transaction_request_accept_path(xact), method: :POST  %>
        </td>
        <td>
            <%= link_to "Reject", transaction_request_decline_path(xact), method: :POST  %>
        </td>
    </tr>
<% end  %>
</table>


<%= link_to 'Edit My User Account', edit_admin_path(@uid)%>