<div>
<table class="table">
  <thead>
  <tr>
    <th>Created On</th>
    <th>Last Updated</th>
    <th>Source Account</th>
    <th>Destination Account</th>
    <th>Amount</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.created_at %></td>
        <td><%= transaction.updated_at %></td>
        <td><%= transaction.source_account_id %></td>
        <td><%= transaction.dest_account_id %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.status %></td>
        <% if transaction.status == "Requested" && transaction.source_account_id == @selectedAccount.id %>
          <td><%= link_to "Approve", transaction_request_accept_path(transaction), method: :POST %></td>
        <% end %>
        <% if (transaction.status == "Requested" || transaction.status == "Pending") && transaction.source_account_id == @selectedAccount.id %>
          <td><%= link_to "Reject", transaction_request_decline_path(transaction), method: :POST %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
