<p id="notice"><%= notice %></p>

<p>
  <strong>Source account:</strong>
  <%= @transaction.source_account_id %>
</p>

<p>
  <strong>Destination Account:</strong>
  <%= @transaction.dest_account_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
