<!DOCTYPE html>
<html>
  <head>
    <title>RubyHomework</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'system', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'system', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <div class="nav">
            <%= link_to "Home", root_path%>
            <%= link_to "Transactions", transactions_path %>
            <%= link_to "Friends",  friendship_index_path %>
        </div>
    </header>
    <%= yield %>
  </body>
</html>
