<%= form_for(account) do |f| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fields">
      <p>
          <%= f.label :BankName %> <br />
          <%= f.text_field :BankName %>
      </p>
      <p>
          <%= f.label :Balance %>
          <%= f.text_field :Balance %>
      </p>
    <p>
        <%= f.label :Status %>
        <%= f.select :status, ['enabled', 'disabled']%>
    </p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
