<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<table>
  <thead>
    <tr>

      <td>Account Name</td>
      <td>Account Number</td>
      <td>Account Balance</td>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.AccountName %></td>
        <td>&nbsp;&nbsp;<%= account.AccountNumber %></td>
        <td>&nbsp;&nbsp;<%= account.Balance %></td>
        <td>&nbsp;&nbsp;<%= link_to 'Show', account %></td>
        <td>&nbsp;&nbsp;<%= link_to 'Edit', edit_account_path(account) %></td>
        <td>&nbsp;&nbsp;<%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
